USE [opurple]
GO
/****** Object:  User [GG_ServiceOperation]    Script Date: 12/06/2019 13:10:43 ******/
CREATE USER [GG_ServiceOperation] FOR LOGIN [LOCAWEB-NET\GG_ServiceOperation]
GO
/****** Object:  User [GG_Suporte_AEP]    Script Date: 12/06/2019 13:10:44 ******/
CREATE USER [GG_Suporte_AEP] FOR LOGIN [LOCAWEB-NET\GG_Suporte_AEP]
GO
/****** Object:  User [GG_Suporte_Cloud_Dedicado]    Script Date: 12/06/2019 13:10:44 ******/
CREATE USER [GG_Suporte_Cloud_Dedicado] FOR LOGIN [LOCAWEB-NET\GG_Suporte_Cloud_Dedicado]
GO
/****** Object:  User [GG_Suporte_Hospedagem]    Script Date: 12/06/2019 13:10:44 ******/
CREATE USER [GG_Suporte_Hospedagem] FOR LOGIN [LOCAWEB-NET\GG_Suporte_Hospedagem]
GO
/****** Object:  User [GG_Suporte_Plesk11]    Script Date: 12/06/2019 13:10:44 ******/
CREATE USER [GG_Suporte_Plesk11] FOR LOGIN [LOCAWEB-NET\GG_Suporte_Plesk11]
GO
/****** Object:  User [GG_Suporte_Plesk115]    Script Date: 12/06/2019 13:10:44 ******/
CREATE USER [GG_Suporte_Plesk115] FOR LOGIN [LOCAWEB-NET\GG_Suporte_Plesk115]
GO
/****** Object:  User [GG_Suporte_Plesk12]    Script Date: 12/06/2019 13:10:44 ******/
CREATE USER [GG_Suporte_Plesk12] FOR LOGIN [LOCAWEB-NET\GG_Suporte_Plesk12]
GO
/****** Object:  User [GG_SysOps_CorporateServices]    Script Date: 12/06/2019 13:10:44 ******/
CREATE USER [GG_SysOps_CorporateServices] FOR LOGIN [LOCAWEB-NET\GG_SysOps_CorporateServices]
GO
/****** Object:  User [GG_SysOps_Windows]    Script Date: 12/06/2019 13:10:44 ******/
CREATE USER [GG_SysOps_Windows] FOR LOGIN [LOCAWEB-NET\GG_SysOps_Windows]
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'GG_ServiceOperation'
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'GG_Suporte_AEP'
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'GG_Suporte_Cloud_Dedicado'
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'GG_Suporte_Hospedagem'
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'GG_Suporte_Plesk11'
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'GG_Suporte_Plesk115'
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'GG_Suporte_Plesk12'
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'GG_SysOps_CorporateServices'
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'GG_SysOps_Windows'
GO
/****** Object:  Table [dbo].[ACS]    Script Date: 12/06/2019 13:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACS](
	[ACS_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACS_USR_ID] [int] NULL,
	[ACS_DAT_TMS] [datetime] NULL,
 CONSTRAINT [PK_ACS] PRIMARY KEY CLUSTERED 
(
	[ACS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AMG]    Script Date: 12/06/2019 13:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AMG](
	[AMG_ID] [int] IDENTITY(1,1) NOT NULL,
	[AMG_USR_ID] [int] NULL,
	[AMG_USR_USR_ID] [int] NULL,
	[AMG_SLC] [int] NULL,
	[AMG_OK] [int] NULL,
	[AMG_DAT_INC] [datetime] NULL,
	[AMG_DAT_ALT] [datetime] NULL,
	[AMG_DAT_EXL] [datetime] NULL,
 CONSTRAINT [PK_AMG] PRIMARY KEY CLUSTERED 
(
	[AMG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ARE_ATU]    Script Date: 12/06/2019 13:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARE_ATU](
	[ARE_ATU_ID] [int] IDENTITY(1,1) NOT NULL,
	[ARE_ATU_DES] [nvarchar](50) NULL,
 CONSTRAINT [PK_ARE_ATU] PRIMARY KEY CLUSTERED 
(
	[ARE_ATU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CMD]    Script Date: 12/06/2019 13:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMD](
	[CMD_ID] [int] IDENTITY(1,1) NOT NULL,
	[CMD_USR_ID] [int] NULL,
	[CMD_TIT] [nvarchar](50) NULL,
	[CMD_DES] [nvarchar](300) NULL,
	[CMD_DAT_INC] [datetime] NULL,
	[CMD_DAT_ALT] [datetime] NULL,
	[ARE_ATU_ID] [int] NULL,
 CONSTRAINT [PK_CMD] PRIMARY KEY CLUSTERED 
(
	[CMD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CMD_PTP]    Script Date: 12/06/2019 13:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMD_PTP](
	[CMD_PTP_ID] [int] IDENTITY(1,1) NOT NULL,
	[CMD_PTP_CMD_ID] [int] NULL,
	[CMD_PTP_USR_ID] [int] NULL,
	[CMD_PTP_DES] [nvarchar](300) NULL,
	[CMD_PTP_DAT_INC] [datetime] NULL,
	[CMD_PTP_DAT_ALT] [datetime] NULL,
 CONSTRAINT [PK_CMD_PTP] PRIMARY KEY CLUSTERED 
(
	[CMD_PTP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FED]    Script Date: 12/06/2019 13:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FED](
	[FED_ID] [int] IDENTITY(1,1) NOT NULL,
	[FED_USR_ID] [int] NULL,
	[FED_POT] [nvarchar](200) NULL,
	[FED_ALB_ID] [int] NULL,
	[FED_FOT_ID] [int] NULL,
	[FED_DAT_INC] [datetime] NULL,
	[FED_DAT_ALT] [datetime] NULL,
 CONSTRAINT [PK_FED] PRIMARY KEY CLUSTERED 
(
	[FED_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FED_CTR]    Script Date: 12/06/2019 13:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FED_CTR](
	[FED_CRT_ID] [int] IDENTITY(1,1) NOT NULL,
	[FED_CTR_FED_ID] [int] NULL,
	[FET_CTR_USR_ID] [int] NULL,
	[FET_CTR_DAT_INC] [datetime] NULL,
 CONSTRAINT [PK_FED_CTR] PRIMARY KEY CLUSTERED 
(
	[FED_CRT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FOT]    Script Date: 12/06/2019 13:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOT](
	[FOT_ID] [int] IDENTITY(1,1) NOT NULL,
	[FOT_USR_ID] [int] NULL,
	[FOT_PAT] [nvarchar](200) NULL,
	[FOT_TIT] [nvarchar](200) NULL,
	[FOT_LEG] [nvarchar](200) NULL,
	[FOT_DAT_INC] [datetime] NULL,
 CONSTRAINT [PK_FOT] PRIMARY KEY CLUSTERED 
(
	[FOT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NVL_CNH]    Script Date: 12/06/2019 13:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NVL_CNH](
	[NVL_CNH_ID] [int] IDENTITY(1,1) NOT NULL,
	[NVL_CNH_DES] [nvarchar](50) NULL,
 CONSTRAINT [PK_NVL_CNH] PRIMARY KEY CLUSTERED 
(
	[NVL_CNH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RMD]    Script Date: 12/06/2019 13:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RMD](
	[RMD_ID] [int] IDENTITY(1,1) NOT NULL,
	[RMD_USR_ID] [int] NULL,
	[RMD_USR_USR_ID] [int] NULL,
	[RMD_DAT_INC] [datetime] NULL,
 CONSTRAINT [PK_RMD] PRIMARY KEY CLUSTERED 
(
	[RMD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USR]    Script Date: 12/06/2019 13:10:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR](
	[USR_ID] [int] IDENTITY(1,1) NOT NULL,
	[USR_NOM] [nvarchar](100) NULL,
	[USR_DAT_NASC] [datetime] NULL,
	[USR_SEX] [nvarchar](10) NULL,
	[USR_EMA] [nvarchar](200) NULL,
	[USR_FOT] [nvarchar](200) NULL,
	[USR_SNH] [nvarchar](200) NULL,
	[USR_DAT_INC] [datetime] NULL,
	[USR_DAT_EXL] [datetime] NULL,
	[USR_DAT_ALT] [datetime] NULL,
	[USR_EML_VLD] [int] NULL,
	[USR_ARE_ATU] [int] NULL,
	[USR_NVL_CNH] [int] NULL,
	[USR_DAT_ADM] [datetime] NULL,
	[USR_CID_TRA] [nvarchar](50) NULL,
	[USR_STA_TRA] [nvarchar](50) NULL,
	[USR_SAL] [decimal](18, 2) NULL,
	[USR_LGA_PPG] [nvarchar](200) NULL,
	[USR_ASS] [int] NULL,
 CONSTRAINT [PK_USR] PRIMARY KEY CLUSTERED 
(
	[USR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ACS]  WITH CHECK ADD  CONSTRAINT [FK_ACS_USR] FOREIGN KEY([ACS_USR_ID])
REFERENCES [dbo].[USR] ([USR_ID])
GO
ALTER TABLE [dbo].[ACS] CHECK CONSTRAINT [FK_ACS_USR]
GO
ALTER TABLE [dbo].[AMG]  WITH CHECK ADD  CONSTRAINT [FK_AMG_USR3] FOREIGN KEY([AMG_USR_USR_ID])
REFERENCES [dbo].[USR] ([USR_ID])
GO
ALTER TABLE [dbo].[AMG] CHECK CONSTRAINT [FK_AMG_USR3]
GO
ALTER TABLE [dbo].[CMD]  WITH CHECK ADD  CONSTRAINT [FK_CMD_ARE_ATU] FOREIGN KEY([ARE_ATU_ID])
REFERENCES [dbo].[ARE_ATU] ([ARE_ATU_ID])
GO
ALTER TABLE [dbo].[CMD] CHECK CONSTRAINT [FK_CMD_ARE_ATU]
GO
ALTER TABLE [dbo].[CMD]  WITH CHECK ADD  CONSTRAINT [FK_CMD_USR] FOREIGN KEY([CMD_USR_ID])
REFERENCES [dbo].[USR] ([USR_ID])
GO
ALTER TABLE [dbo].[CMD] CHECK CONSTRAINT [FK_CMD_USR]
GO
ALTER TABLE [dbo].[CMD_PTP]  WITH CHECK ADD  CONSTRAINT [FK_CMD_PTP_CMD_PTP] FOREIGN KEY([CMD_PTP_CMD_ID])
REFERENCES [dbo].[CMD] ([CMD_ID])
GO
ALTER TABLE [dbo].[CMD_PTP] CHECK CONSTRAINT [FK_CMD_PTP_CMD_PTP]
GO
ALTER TABLE [dbo].[CMD_PTP]  WITH CHECK ADD  CONSTRAINT [FK_CMD_PTP_USR] FOREIGN KEY([CMD_PTP_USR_ID])
REFERENCES [dbo].[USR] ([USR_ID])
GO
ALTER TABLE [dbo].[CMD_PTP] CHECK CONSTRAINT [FK_CMD_PTP_USR]
GO
ALTER TABLE [dbo].[FED_CTR]  WITH CHECK ADD  CONSTRAINT [FK_FED_CTR_FED] FOREIGN KEY([FED_CTR_FED_ID])
REFERENCES [dbo].[FED] ([FED_ID])
GO
ALTER TABLE [dbo].[FED_CTR] CHECK CONSTRAINT [FK_FED_CTR_FED]
GO
ALTER TABLE [dbo].[FED_CTR]  WITH CHECK ADD  CONSTRAINT [FK_FED_CTR_USR] FOREIGN KEY([FET_CTR_USR_ID])
REFERENCES [dbo].[USR] ([USR_ID])
GO
ALTER TABLE [dbo].[FED_CTR] CHECK CONSTRAINT [FK_FED_CTR_USR]
GO
ALTER TABLE [dbo].[FOT]  WITH CHECK ADD  CONSTRAINT [FK_FOT_USR] FOREIGN KEY([FOT_USR_ID])
REFERENCES [dbo].[USR] ([USR_ID])
GO
ALTER TABLE [dbo].[FOT] CHECK CONSTRAINT [FK_FOT_USR]
GO
ALTER TABLE [dbo].[RMD]  WITH CHECK ADD  CONSTRAINT [FK_RMD_USR] FOREIGN KEY([RMD_USR_ID])
REFERENCES [dbo].[USR] ([USR_ID])
GO
ALTER TABLE [dbo].[RMD] CHECK CONSTRAINT [FK_RMD_USR]
GO
ALTER TABLE [dbo].[RMD]  WITH CHECK ADD  CONSTRAINT [FK_RMD_USR1] FOREIGN KEY([RMD_USR_USR_ID])
REFERENCES [dbo].[USR] ([USR_ID])
GO
ALTER TABLE [dbo].[RMD] CHECK CONSTRAINT [FK_RMD_USR1]
GO
ALTER TABLE [dbo].[USR]  WITH CHECK ADD  CONSTRAINT [FK_USR_ARE_ATU] FOREIGN KEY([USR_ARE_ATU])
REFERENCES [dbo].[ARE_ATU] ([ARE_ATU_ID])
GO
ALTER TABLE [dbo].[USR] CHECK CONSTRAINT [FK_USR_ARE_ATU]
GO
ALTER TABLE [dbo].[USR]  WITH CHECK ADD  CONSTRAINT [FK_USR_NVL_CNH] FOREIGN KEY([USR_NVL_CNH])
REFERENCES [dbo].[NVL_CNH] ([NVL_CNH_ID])
GO
ALTER TABLE [dbo].[USR] CHECK CONSTRAINT [FK_USR_NVL_CNH]
GO
